#carrouselContainer {
    width: 100%;
    height: 40vh;
    display: flex;
    background-color: aqua;
    justify-content: center;
}

#nextButton {

    right: 0;
}

.button {
    height: 100%;
    width: 10%;
    background: rgba(0, 0, 0, 0.150);
    position: absolute;
    justify-content: left;
    align-items: center;
}

.button:hover {
    background: rgba(0, 0, 0, 0.250);
}

#imageContainer {
    width: 70%;
    height: 100%;
    position: relative;
}

#imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}