#carrouselContainer {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

#nextButton {
    right: 0;
}

.button {
    height: 100%;
    width: 10%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    justify-content: left;
    align-items: center;
    font-size: xxx-large;
    color: aliceblue;
    border: none;
    transition: background 0.3s;
}

.button:hover {
    background: rgba(0, 0, 0, 0.250);
}

#imageContainer {
    width: 70%;
    height: 100%;
    position: relative;
}

#imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 3em;
}